<div id="new_registration" class="jumbotron">
  <h1>Sign up</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :email %><br />
      <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <%= f.email_field :email, {autofocus: true, class: "form-control", placeholder: "thermaldonkey@example.com"} %>
      </div>
    </div>

    <div>
      <%= f.label :name %><br />
      <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <%= f.text_field :name, {class: "form-control", placeholder: "Brad Rice"} %>
      </div>
    </div>

    <div>
      <%= f.label :allowance %><br />
      <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <%= f.text_field :allowance, {class: "form-control", placeholder: "0.75 (spend 75% of net income)"} %>
      </div>
    </div>

    <div>
      <%= f.label :password %><br />
      <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <%= f.password_field :password, {class: "form-control"} %>
      </div>
    </div>

    <div>
      <%= f.label :password_confirmation %><br />
      <div class="input-group input-group-sm">
        <span class="input-group-addon"></span>
        <%= f.password_field :password_confirmation, {class: "form-control"} %>
      </div>
    </div>
    <br />

    <div><%= f.submit "Sign up", {class: "btn btn-primary"} %></div>
  <% end %>

  <br />

  <%= render "devise/shared/links" %>
</div>
