<%= form_for(@withdrawal) do |f| %>
  <% if @withdrawal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
      <% @withdrawal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <div class="input-group input-group-sm">
      <span class="input-group-addon">$</span>
      <%= f.text_field :value, {class: "form-control", placeholder: "0.00"} %>
    </div>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <div class="input-group input-group-sm">
      <span class="input-group-addon">#</span>
      <%= f.text_field :memo, {class: "form-control", placeholder: "Whatchu buyin, son?"} %>
    </div>
  </div>
  <div>
    <% if @pay_period %>
      <%= f.hidden_field :pay_period_id, value: @pay_period.id %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
