<h1>Listing withdrawals</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Memo</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @withdrawals.each do |withdrawal| %>
  <tr>
    <td><%= withdrawal.value %></td>
    <td><%= withdrawal.memo %></td>
    <td><%= withdrawal.created_at %></td>
    <td><%= link_to 'Show', withdrawal %></td>
    <td><%= link_to 'Edit', edit_withdrawal_path(withdrawal) %></td>
    <td><%= link_to 'Destroy', withdrawal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Withdrawal', new_withdrawal_path %>
