<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @withdrawal.value %>
</p>

<p>
  <b>Memo:</b>
  <%= @withdrawal.memo %>
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path %>
