<%= form_for(@deduction) do |f| %>
  <% if @deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
      <% @deduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <div class="input-group input-group-sm">
      <span class="input-group-addon">$</span>
      <%= f.text_field :value, {class: "form-control", placeholder: "0.00"} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :monthly_frequency %><br />
    <div class="input-group input-group-sm">
      <span class="input-group-addon"></span>
      <%= f.number_field :monthly_frequency, {class: "form-control"} %>
    </div>
  </div>

  <div class="field">
    <%= f.label :memo %><br />
    <div class="input-group input-group-sm">
      <span class="input-group-addon">#</span>
      <%= f.text_field :memo, {class: "form-control", placeholder: "Pay them bills..."} %>
    </div>
  </div>

  <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
