<div id="deductions_index" class="jumbotron">
  <h1>Listing deductions</h1>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Value</th>
        <th>Memo</th>
        <th>Monthly frequency</th>
        <th class="btn-group-column"></th>
      </tr>

    <% @deductions.each do |deduction| %>
      <tr>
        <td><%= deduction.value %></td>
        <td><%= deduction.memo %></td>
        <td><%= deduction.monthly_frequency %></td>
        <td class="btn-group-column">
          <div class="btn-group">
            <%= link_to 'Show', deduction, {class: "btn btn-default"} %>
            <%= link_to 'Edit', edit_deduction_path(deduction), {class: "btn btn-info"} %>
            <%= link_to 'Destroy', deduction, {method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"} %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <br />

  <%= render partial: "deductions/form" %>
</div>
