<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Pay days</th>
    <th>Allowance</th>
    <th>Pending payment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.pay_days %></td>
    <td><%= user.allowance %></td>
    <td><%= user.pending_payment %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
