<div id="pay_period_show" class="jumbotron">
  <p id="notice"><%= notice %></p>
  <input id="pay_period_allowance" type="hidden" value=<%= @pay_period.net_income * @pay_period.user.allowance %> />

  <p>
    <b>End date:</b>
    <%= @pay_period.end_date.strftime("%m/%d") %>
  </p>

  <p id="pay_period_balance">
    <b>Balance:</b>
      <%= (@pay_period.balance).round(2) %>
  </p>

  <p>
    <b>Allowance spent:</b>
  </p>
  <div id="progress" class="progress active">
    <div id="balance_progress" class="progress-bar" style="width: 0%;"></div>
  </div>

  <p>
    <b>New withdrawal:</b>
    <%= render partial: "withdrawals/form" %>
  </p>

  <div class="btn-group">
    <%= link_to 'Edit', edit_pay_period_path(@pay_period), {class: 'btn btn-info'} %>
    <%= link_to 'Back', pay_periods_path, {class: 'btn btn-info'} %>
  </div>
</div>
