<div id="pay_period_show" class="jumbotron">
  <p id="notice"><%= notice %></p>
  <input id="pay_period_net_income" type="hidden" value=<%= @pay_period.net_income %> />

  <p>
    <b>Gross income:</b>
    <%= @pay_period.gross_income %>
  </p>

  <p>
    <b>Start date:</b>
    <%= @pay_period.start_date %>
  </p>

  <p>
    <b>End date:</b>
    <%= @pay_period.end_date %>
  </p>

  <p id="pay_period_balance">
    <b>Balance:</b>
      <%= (@pay_period.balance).round(2) %>
  </p>

  <div id="progress" class="progress active">
    <div id="balance_progress" class="progress-bar" style="width: 0%;"></div>
  </div>

  <p>
    <b>New withdrawal:</b>
    <%= render partial: "withdrawals/form" %>
  </p>

  <%= link_to 'Edit', edit_pay_period_path(@pay_period), {class: 'btn btn-info'} %> |
  <%= link_to 'Back', pay_periods_path, {class: 'btn btn-default'} %>
</div>
